@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reusable input style */
.input {
  @apply border border-gray-300 rounded px-4 py-2 focus:outline-none focus:ring-2 focus:ring-[#73C2FB] w-full;
}